<!DOCTYPE HTML>
<html>
<head>
  <title>Fairsplit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="https://rawgit.com/dmifsud/digit-field/master/dist/digit.field.min.js"></script>
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="Stylesheet" type="text/css"/>
  <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="Stylesheet" type="text/css"/>
  <link href="https://rawgit.com/dmifsud/digit-field/master/dist/css/digit-field.css" rel="Stylesheet" type="text/css"/>

  <script src="main.js"></script>
</head>
<body>
  <div ng-app="fairsplit" class="jumbotron" style="
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width:100%;
  position: fixed;
  overflow:auto;
">
    <h1>Fairsplit</h1>
    <p>Add total amount of bill, include your part and their part.</p>
    <p>The remainder will be split</p>

    <div ng-controller="mainCtrl" class="ng-scope">
      <section>
        <p style="font-family:Georgia, 'Times', 'Times New Roman', sans"><i>((Total-(theirs+mine))÷2)+theirs</i></p>
        <label>Bill total:</label>
        <digit-field ng-model="total"></digit-field>
        <label>Theirs:</label>
        <digit-field ng-model="theirs"></digit-field>
        <label>Mine:</label>
        <digit-field ng-model="mine"></digit-field>
        <label>Theirs:</label>
        <digit-field ng-model="theirs"></digit-field>
      </section>

      <h3 class="ng-binding">They owe me Total: &euro;{{oweMe | currency:""}}</h3>
    </div>

  </di>

</body>
</html>
