<!DOCTYPE HTML>
<html>
<head>
  <title>Fairsplit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="Stylesheet" type="text/css"/>
  <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="Stylesheet" type="text/css"/>
  <script>

    (function(angular){
      'use strict';

      angular.module('app',[])
        .controller('mainCtrl', function($scope){
            var calculate = function(){
              if (angular.isDefined($scope.total) && angular.isDefined($scope.mine) && angular.isDefined($scope.theirs)){
                ///if (!$scope.$$phase){
                  $scope.oweMe = (($scope.total - ($scope.theirs + $scope.mine)) / 2) + $scope.theirs;
                //}
              }
            };

            $scope.total;
            $scope.mine;
            $scope.theirs;
            $scope.oweMe = 0;

            $scope.$watch('total', calculate);
            $scope.$watch('mine', calculate);
            $scope.$watch('theirs', calculate);

        });
    })(angular);


  </script>

</head>
<body ng-app="app">
  <div class="jumbotron" style="
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width:100%;
  position: fixed;
  overflow:auto;
">
    <h1>Fairsplit</h1>
    <p>Add total amount of bill, include your part and their part.</p>
    <p>The remainder will be split</p>

    <div ng-controller="mainCtrl" class="ng-scope">
      <section>
        <p style="font-family:Georgia, 'Times', 'Times New Roman', sans"><i>((Total-(theirs+mine))÷2)+theirs</i></p>
        ((<input type="number" inputmode="numeric" pattern="[0-9]*" ng-model="total" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Total">
        – (<input type="number" inputmode="numeric" pattern="[0-9]*" ng-model="theirs" class="form-control ng-pristine ng-untouched ng-valid" placeholder="theirs"> +
        <input type="number" inputmode="numeric" pattern="[0-9]*" class="form-control ng-pristine ng-untouched ng-valid" ng-model="mine" placeholder="mine">)) ÷ 2) +
        <input type="number" inputmode="numeric" pattern="[0-9]*" ng-model="theirs" class="form-control ng-pristine ng-untouched ng-valid" placeholder="theirs">
      </section>

      <h3 class="ng-binding">They owe me Total: &euro;{{oweMe | currency:""}}</h3>
    </div>

  </di>

</body>
</html>
